

.nav-links a {
  margin: 0 10px;
}

.loader-bg{
  position: fixed;
  z-index: 999999;
  background: #fff;
  width: 100%;
  height: 100%;
}

:root {
  --animate-duration: 4s;
  --animate-delay: 0.9s;
}

.loader{
  border: 0 solid transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 156px);
}
.loader::after{
  content: '';
  /* background: url(tmsk-b.svg); */
  /* background: url(); */
  border: 1em solid blue;
  background-repeat: repeat;
  background-position: center;
  /* border-radius: 50%; */
  width: 288px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 2s linear infinite;
  opacity: 0;
}
::after {
  background: url(images/tmsk-b.svg);
  /* width: 52px; */
}
.loader::before{
  animation-delay: .5s;
}
@keyframes loader {
  0%{
    transform: scale(0);
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    transform: scale(1);
    opacity: 0f;
  }
  
}



.container-default {
    max-width: 1200px;
    padding-right: 24px;
    padding-left: 24px;
  }
  
.w-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
  }

.bg-color{
    background-color: rgba(191,191,191,1)
  }
  
.text-color1{
    color: rgba(28,117,188,255)
}

.text-bg1{
  background-color: rgba(88,89,91,255);
}




.mobile-container {
  max-width: 480px;
  margin: auto;
  background-color: #555;
  height: 500px;
  color: white;
  border-radius: 10px;
}


.topnav {
  overflow: hidden;
  /* background-color: #333; */
  position: relative;
}
.topnav #myLinks {
  display: none;
}
.topnav a {
  color: rgb(28,117,188,255);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
.topnav a:hover {
  background-color: rgb(12, 1, 1);
  color: rgb(2, 26, 104);
}




.container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}
    


.hero{
  animation: topslide .10s ease-in;
}

@keyframes topslide{
  50%{
    transform: skewX(53deg) translateX(-500px);
  }
  100%{
    transform: skew(0deg);
  }
}


/* ---------------------------------------------------------------------------------- */

